
build/
lib/
docs/

.dub/
dub.selections.json

*.[oa]
*.exp
*.obj
*.pdb

*.exe
*.so
*.so.*
*.dylib
*.dll
*.lib

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
desktop.ini
.DS_Store
Thumbs.db
