
include/
build/
external/

# D
*.exe
*.dylib
*.dll
*.lib
*.pdb
*.exp
*.o
*.obj
*.so
*.a
.dub/

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
desktop.ini
